<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
    <link rel="stylesheet" href="~/Content/site.css?v=@(new Random().Next())" />
    @RenderSection("head", false)
</head>
<body data-appcode="@ViewBag.AppCode" data-website="@ViewBag.WebSite">
    @RenderBody()
    <!--核心的js库-->
    <script src="~/Scripts/app/bundle.js"></script>
    <!--辅助js-->
    @RenderSection("scripts", required: false)
</body>
</html>