<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>@ViewBag.Title</title>
    <link href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css" rel="stylesheet">
    <link href="~/Content/site.css" rel="stylesheet" />
    @RenderSection("head", false)
</head>
<body data-appcode="@ViewBag.AppCode" data-website="@ViewBag.WebSite">
    @RenderBody()
    <script type="text/javascript" src="~/Scripts/weui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/axios.min.js"></script>
    <script type="text/javascript" src="~/Scripts/polyfill.js"></script>
    <script type="text/javascript" src="~/Scripts/template-web.js"></script>
    <script src="~/Scripts/fastclick.min.js?v=@(new Random().Next())"></script>
    <script type="text/javascript" src="~/Scripts/site.core.js"></script>
    <script type="text/javascript" src="~/Scripts/identity.js"></script>
    <script type="text/javascript" src="~/Scripts/site.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
